@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* COLORS */
    --primaryColor: #000000; 
    /* ------- Texts ------*/
    --headerColor: #f2eeee;
    --primaryText: #34495e;
    --answerText: #ecf0f1;
    /* ------- Backgrounds ------- */
    --letterContainer: #f4d03f; 
    --letters: #e74c3c; 
    --answersContainer: #f4d03f;
    --categories: #e74c3c;
    --answer: #e74c3c; 
    /* ------- Borders -------- */
    --answerBorder: #000000; 
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-image: url("kangaroo_hop_animation_by_spiritstp_d59uxph.gif");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;  /* Remove default margin to ensure full coverage */
    position: relative;
}

header{
    width: 100vw;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

header h1{
    color: var(--headerColor);
}

header h5{
    color: var(--headerColor);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image:url("kangaroo_hop_animation_by_spiritstp_d59uxph.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.start-message {
    text-align: center; /* center the text inside the overlay */
    color: white; /* text color */
}

.main-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.letters-container{
    width: 38rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--letterContainer);
    border-radius: 8px;
    border: 4px solid var(--primaryColor);
}

.letter-btn{
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1rem;
    width: 2rem;
    height: 2rem;
    margin: .2rem .2rem;
    border-radius: 5px;
    border: none;
    outline: 2px solid #ffffff;
    background-color: var(--letters);
    color: white;
    cursor: pointer;

    transition: all ease .3s;
}

.letter-btn:hover{
    background-color: #D04848; 
}

.letter-btn:active{
    transform: scale(70%);
}

/* CATEGORY */

.categories-container{
    width: 30rem;
    background-color: var(--categories);
    text-align: center;
    position: absolute;
    top: -10%;
    border-radius: 8px;
    border: 3px solid var(--primaryColor);
}

.categories-container h2{
    color: #ffffff;
}

/* ANSWERS FIELD */

.answers-field{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.answers-container{
    width: 40rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: var(--answersContainer);
    border-radius: 8px;
    border: 4px solid var(--primaryColor);
}

.answers-container div{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--answer);
    color: var(--answerText);
    border: 2px solid var(--answerBorder);
    text-align: center;
    margin: .2rem;
    border-radius: 8px;
}

/* STATUS */

.status {
    width: 100vw;
    position: absolute;
    top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 3rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage,
.lives {
    font-size: 1.2rem;
    color: var(--headerColor);
    margin-bottom: 1rem;
}

.life {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    left: 10rem;
}


.error {
    font-weight: 600;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;

    transition: all ease .1s;
}

.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #e8e0e0;
    border-radius: 8px;
    padding: .5rem 1rem;
}

.prog {
    width: 20px;
    height: 20px;
    border: 3px solid #e8e5e5;
    border-radius: 50%;
    transition: all ease .3s;
}


.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.game-section .score {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--headerColor);
}

.game-section input[type="radio"] {
    display: none;
}

.game-section label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    margin: 5px;
    font-size: 1rem;
    background-color: var(--categories); 
    color: #ffffff; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-section input[type="radio"]:checked + label {
    background-color: var(--letterContainer); 
}

.game-section button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--answersContainer); 
    color: var(--answerText); 
    border: 2px solid var(--answerBorder); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-section button:hover {
    background-color: #e74c3c; /* Hover color */
}

.reset-section {
    text-align: center; /* Center the button within the section */
    margin-top: 10px;
    top: 0;
    right: 0;
}

#reset-button {
    width: 105px; 
    height: 40px; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--answersContainer); 
    color: var(--answerText); 
    border: 2px solid var(--answerBorder); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #e74c3c;
}

footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer p {
    /* Additional styling for the <p> element inside the footer if needed */
    text-align: center;
}